<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body{
            background-color: aqua;
        }
        *{
            color : black;
            text-align: center;
            margin: 2rem;
            padding: 2rem;

        }
    </style>
</head>
<body>
    <h1>Home Page</h1>
    <h2>Welcome to Best Website ever seen in the World</h2>
    <a href= "register">Register</a>
    



</body>
</html>